.lead__picture-caption {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .lead__picture-caption {
    padding-top: 52px;
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  .lead__picture-caption {
    padding-top: 40px;
  }
}