.cover__subtitle {
  margin: 0 0;
  padding: 0 0;
  width: 360px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-align: center;
  z-index: 1;
}

@media (max-width: 760px) {
  .cover__subtitle {
    width: clamp(288px, 90vw, 360px);
    font-size: clamp(14px, 4vw, 18px);
    line-height: clamp(16px, 4vw, 22px);
  }
}