.header {
  max-width: 1184px;
  height: 52px;
  margin: 28px auto 0 auto;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1200px) {
  .header {
    max-width: 100%;
  }
}

@media (max-width: 1020px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 760px) {
  .header {
    height: 42px;
    margin-top: 16px;
    min-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
}