.intro {
  max-width: 690px;
  margin: 0 auto;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  padding-right: 22.5%;
}

@media (max-width: 1200px) {
  .intro {
    padding-left: 48px;
    min-width: 720px;
    padding-right: 25%;
  } 
}

@media (max-width: 1020px) {
  .intro {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  } 
}

@media (max-width: 760px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: clamp(288px, 30vw, 720px);
  } 
}