.cover {
  margin: 0 auto;
  margin-top: 92px;
  width: 1184px;
  height: 740px;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

@media (max-width: 1020px) {
  .cover {
    margin-top: 90px;
    width: 768px;
    height: 480px;
  }
}

@media (max-width: 760px) {
  .cover {
    margin-top: 66px;
    max-width: 100%;
    min-width: 320px;
    height: 62.5vw;
    min-height: 200px;
  }
}