.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  aspect-ratio: 16/10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  min-height: 740px;
}

@media (max-width: 1200px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 1020px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media (max-width: 760px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}