.cover__title {
  margin: 0 0;
  padding: 0 0 32px 0;
  width: 540px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFF;
  text-align: center;
  z-index: 1;
}

@media (max-width: 760px) {
  .cover__title {
    width: 90vw;
    padding-bottom: 16px;
    font-size: clamp(32px, 10vw, 72px);
    line-height: clamp(35px, 10vw, 76px);
  }
}